{{- if not .Values.useStatefulSet }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "game-servers.fullname" . }}
  labels:
    {{- include "game-servers.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "game-servers.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "game-servers.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "game-servers.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.initContainers }}
      initContainers:
        {{- toYaml .Values.initContainers | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          stdin: true
          tty: true
          ports:
            {{- range .Values.gameService.ports }}
            - name: {{ .name }}
              containerPort: {{ .targetPort }}
              protocol: {{ .protocol }}
            {{- end }}
            {{- if .Values.ingress.enabled }}
            {{- range .Values.webService.ports }}
            - name: {{ .name }}
              containerPort: {{ .targetPort }}
              protocol: {{ .protocol }}
            {{- end }}
            {{- end }}
          {{- if and .Values.curseforge .Values.curseforge.apiKeySecret }}
          env:
            - name: HYTALE_CURSEFORGE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.curseforge.apiKeySecret.name }}
                  key: {{ .Values.curseforge.apiKeySecret.key | default "api-key" }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe.config | nindent 12 }}
          {{- end }}
          
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe.config | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{- if .Values.volumeMounts }}
            {{- toYaml .Values.volumeMounts | nindent 12 }}
            {{- else }}
            - name: storage
              mountPath: {{ if contains "ht" .Values.image.tag }}/home/kubelize/server{{ else }}/home/kubelize/server/data{{ end }}
            {{- if or (contains "sdtd" .Values.image.tag) (contains "ht" .Values.image.tag) }}
            - name: server-config
              mountPath: {{ if contains "ht" .Values.image.tag }}/home/kubelize/server/config-data/config-values.yaml{{ else }}/home/kubelize/steam/config-data/config-values.yaml{{ end }}
              subPath: config-values.yaml
            {{- end }}
            - name: server-password
              mountPath: {{ if contains "ht" .Values.image.tag }}/home/kubelize/server/config-data/serverpassword.yaml{{ else }}/home/kubelize/steam/config-data/serverpassword.yaml{{ end }}
              subPath: serverpassword.yaml
            {{- end }}
      volumes:
        {{- if .Values.volumes }}
        {{- toYaml .Values.volumes | nindent 8 }}
        {{- else }}
        - name: storage
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if or (contains "sdtd" .Values.image.tag) (contains "ht" .Values.image.tag) }}
        - name: server-config
          configMap:
            name: {{ include "game-servers.fullname" . }}-config
        {{- end }}
        - name: server-password
          secret:
            secretName: {{ if .Values.serverPasswordSecret.useExisting }}{{ .Values.serverPasswordSecret.existingSecretName }}{{ else }}{{ include "game-servers.fullname" . }}-server-password{{ end }}
        {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
