{{- if .Values.useStatefulSet }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "game-servers.fullname" . }}
  labels:
    {{- include "game-servers.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "game-servers.fullname" . }}-headless
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "game-servers.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "game-servers.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "game-servers.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: init-permissions
          image: busybox
          command: ["sh", "-c", "mkdir -p /home/kubelize/server && chown -R 1000:1000 /home/kubelize/server"]
          volumeMounts:
            - name: storage
              mountPath: "/home/kubelize/server"
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          stdin: true
          tty: true
          ports:
            {{- range .Values.gameService.ports }}
            - name: {{ .name }}
              containerPort: {{ .targetPort }}
              protocol: {{ .protocol }}
            {{- end }}
            {{- if .Values.ingress.enabled }}
            {{- range .Values.webService.ports }}
            - name: {{ .name }}
              containerPort: {{ .targetPort }}
              protocol: {{ .protocol }}
            {{- end }}
            {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe.config | nindent 12 }}
          {{- end }}
          
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe.config | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{- if .Values.volumeMounts }}
            {{- toYaml .Values.volumeMounts | nindent 12 }}
            {{- else }}
            - name: storage
              mountPath: {{ if contains "ht" .Values.image.tag }}/home/kubelize/server{{ else }}/home/kubelize/server/data{{ end }}
            {{- if or (contains "sdtd" .Values.image.tag) (contains "ht" .Values.image.tag) }}
            - name: server-config
              mountPath: {{ if contains "ht" .Values.image.tag }}/home/kubelize/server/config-data/config-values.yaml{{ else }}/home/kubelize/steam/config-data/config-values.yaml{{ end }}
              subPath: config-values.yaml
            {{- end }}
            - name: server-password
              mountPath: {{ if contains "ht" .Values.image.tag }}/home/kubelize/server/config-data/serverpassword.yaml{{ else }}/home/kubelize/steam/config-data/serverpassword.yaml{{ end }}
              subPath: serverpassword.yaml
            {{- end }}
      volumes:
        {{- if .Values.volumes }}
        {{- toYaml .Values.volumes | nindent 8 }}
        {{- else }}
        {{- if or (contains "sdtd" .Values.image.tag) (contains "ht" .Values.image.tag) }}
        - name: server-config
          configMap:
            name: {{ include "game-servers.fullname" . }}-config
        {{- end }}
        - name: server-password
          secret:
            secretName: {{ if .Values.serverPasswordSecret.useExisting }}{{ .Values.serverPasswordSecret.existingSecretName }}{{ else }}{{ include "game-servers.fullname" . }}-server-password{{ end }}
        {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: storage
      labels:
        {{- include "game-servers.labels" . | nindent 8 }}
    spec:
      accessModes:
        - {{ .Values.persistence.accessMode }}
      {{- if .Values.persistence.storageClassName }}
      storageClassName: {{ .Values.persistence.storageClassName }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.persistence.size }}
  {{- else }}
  - metadata:
      name: storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
  {{- end }}
{{- end }}
